{% load static %}

<!-- eventos -->
<div class="prising_area" id="eventos">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>
                        Eventos
                    </h3>
                    <p>Venha conhecer as pessoas que fazem parte deste grupo, <br>fazemos encontros
                        para você que quer começar a conhecer a linguagem e para desenvolvedores
                        avançados
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_prising">
                    <div class="prising_icon blue">
                        <i class="flaticon-chat"></i>
                    </div>
                    <h3>PyBar</h3>
                    <p class="prising_text">Bora beber um pouco?
                        Vamos discutir os projetos. Água também vale :D
                    </p>
                    <p class="prise">Próximo <span>12/02</span></p>
                    <a href="#" class="book_now">Saida mais</a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_prising">
                    <div class="prising_icon blue">
                        <i class="flaticon-browser"></i>
                    </div>
                    <h3>Dojo</h3>
                    <p class="prising_text">Quer se aprimorar nessa arte? Que tal um desafio em conjunto?</p>
                    <p class="prise">Próximo <span>13/02</span></p>
                    <a href="#" class="book_now">Saida mais</a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_prising">
                    <div class="prising_icon blue">
                        <i class="flaticon-browser"></i>
                    </div>
                    <h3>Ateliê</h3>
                    <p class="prising_text">Você deseja aprender programação direto em um projeto? </p>
                    <p class="prise">Próximo <span>14/02</span></p>
                    <a href="#" class="book_now">Saida mais</a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_prising">
                    <div class="prising_icon blue">
                        <i class="flaticon-chat"></i>
                    </div>
                    <h3>Lightning Talks</h3>
                    <p class="prising_text">Vamos conhecer um pouco mais de todos nós, mas bem rápido!</p>
                    <p class="prise">Próximo <span>16/02</span></p>
                    <a href="#" class="book_now">Saida mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- eventos end -->