{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="pt-br">

<!-- Head -->
{% include 'includes/_head.html' %}

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Header -->
    {% include 'includes/_header.html' %}

    <!--Main Content Start -->
    {% block content %}
    {% endblock content %}
    <!-- Main Content Ends -->

    <!-- Footer -->
    {% include 'includes/_footer.html' %}
    {% include 'includes/_scripts.html' %}
</body>

</html>