{% load static %}

{% block content %}

<!-- contrate -->
<div class="lets_launch launch_bg_1 overlay2">
    <div class="launch_text text-center">
        <h3>Procurando alguém que manja de Python?</h3>
        <p>Nós somos desenvolvedores que atuam em diversas áreas como:<br>
            back-end, front-end, infraestrutura, data science, machine learning
            e games. Se precisa de ajuda em algum projeto, quer fazer alguma oficina<br>
            só falar conosco, vamos te ajudar.
        </p>
        <div class="chat">
            <a class="boxed_btn_green2" href="#">
                <span>Entrar em contato</span>
            </a>
        </div>
    </div>
</div>
<!-- contrate end -->

{% endblock content %}